@import 'tailwindcss';

.font-playfair {
  font-family: var(--font-playfair), serif;
}

/* @layer base {
  body {
    font-family: var(--font-playfair), serif;
    font-size: 1.8rem;
    font-weight: 700;
  }
} */

:root {
  --primary: #1a1a1a;
  --secondary: #8b7355;
  --accent: #d4af37;
  --light: #f8f6f3;
  --white: #ffffff;
  --danger: #dc3545;
}